<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="refresh" content="0;url=https://ywzss.buaamc2.net/"> -->
<title>摸鱼大鸽-手机服务器入口</title>
<script src="./index_dep/vue.global.js"></script>
<script src="./index_dep/jquery-3.2.1.js"></script>
<script language="javascript" src="./index_dep/ping.js"></script>
<style>
    #search ul {
        list-style-type: none;
        display: block;
        width: 70px;
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0px;
        float: left;
    }
    #search li {
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    #search form {
        margin: 0px;
        padding: 0px;
    }
    #search input {
        height: 30px;
        width: 400px;
        margin: 0px;
    }
    #search .button {
        font-size: 17px;
        font-weight: 600;
        color: #002D96;
        height: 30px;
        width: 110px;
        margin-left: 50px;
        background: #e6efc2;
        opacity: 0.8;
        border: #7fb80e 1px solid;
        cursor: pointer;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
</style>
</head>

<body style="background-attachment: fixed;text-align: center;color:whitesmoke; background-image:url('./index_dep/bg.jpg'); background-repeat:no-repeat; background-size: cover;">

    <div id="app1">
        <h1>摸鱼大鸽网站首页</h1>
        <p @click="change_ipv4_ipv6();"><span v-if="this_domain.indexOf('ywzss.buaamc2.net')!=-1">[纯ipv6版]</span><span v-else>[ipv4代理版本]</span></p>
        
        <!-- <span v-if="seen">现在你看到我了</span> -->
        <h2>自动切换搜索引擎-谷歌/百度/必应</h2>
        <div id="search" align="center">
            <table>
                <tr>
                    <td>
                        <select v-model="selected" @change="changeimg()">
                            <option value="baidu">Baidu</option>
                            <option value="google">Google</option>
                            <option value="bing">Bing</option>
                            </select>
                    </td>
                    <td id="from_box" style="padding-left:10px;">
                        <input id="inputText" v-model="search_context" type="text"  autocomplete="off" @keyup.enter="this.search()"/>
                    </td>
                    <td>
                        <p @click="search">点<img :src=imgsrc width="80">我</p>
                    </td>
                </tr>
            </table>
        </div>
    <table style="text-align:center; margin:auto;">
        <tr>
            <td>
                <h1 >三星上网本搭建服务器[x86架构]</h1>
                <table align="center" width="50%"><tr>
                <td><img :src=function_entry.emby[0] width="300" @click="jumpurl(function_entry.emby[1])"></td>
                <td><img :src=function_entry.upload[0] width="250" @click="jumpurl(function_entry.upload[1])"></td>
                </tr><tr>
                <td><img :src=function_entry.nextcloud[0] width="300" @click="jumpurl(function_entry.nextcloud[1])"></td>
                <td><img :src=function_entry.nginx[0] width="250" @click="jumpurl(function_entry.nginx[1])"></td>
                </tr>
                <tr><td colspan="2">
                    <img :src=function_entry.syncthing[0] width="300" @click="jumpurl(function_entry.syncthing[1])">
                </td></tr>
                </table> 
                <p>Powered by SamSung-N147 Notebook(on sale ￥200) <br>
                    with Global IPV6, Debian 11, Docker, HTTPS</p>
            </td>
        </tr>
    </table>

    </div>
<br>

<script>
const App1 = {
  data() {
    return {
    //   seen: true
        this_domain: '',
        selected: "google",
        search_engines: {
            "baidu": ["./index_dep/baidu.png", "http://www.baidu.com/s?ie=UTF-8&wd="],
            "google": ["./index_dep/google.png", "https://www.google.com/search?q="],
            "bing": ["./index_dep/bing.svg", "https://www.bing.com/search?q="],
        },
        function_entry:{
            "emby": ["./index_dep/1.png", ":8920"],
            "upload": ["./index_dep/2.png", "/upload/templates/First.html"],
            "nextcloud": ["./index_dep/nextcloud.png", ":11000/"],
            "nginx": ["./index_dep/5.png", "/files/"],
            "syncthing": ["./index_dep/syncthing.png", ":8384"],
        },
        imgsrc: "./index_dep/R-C.gif",
        search_context: "",
    }
  },
  methods: {
    changeimg:function(e){
        this.imgsrc = this.search_engines[this.selected][0];
    },
    search:function(e){
        window.location.href = this.search_engines[this.selected][1] + this.search_context;
    },
    jumpurl:function(url_after_domain){
        window.location.href = this.this_domain + url_after_domain;
    },

    testsearch:function(e){
        var that = this;
        temp_selected = that.selected;
        $.ping({
            url : 'https://www.' + temp_selected + '.com', 
            beforePing : function(){},
            afterPing : function(ping){
                console.log(temp_selected + ":" + ping);
                if(ping >= 1600) {
                    that.selected = "baidu";
                }
                that.changeimg();
            }
        });
    },
    change_ipv4_ipv6:function(e){
        if(this.this_domain.indexOf('ywzss.buaamc2.net')!=-1){
            this.this_domain = "https://mydg.abyue.cn";
        }
        else{
            this.this_domain = "https://ywzss.buaamc2.net";
        }
    },
    testipv6:function(test_domain){
        var that = this;
        $.ping({
            url : test_domain, 
            beforePing : function(){},
            afterPing : function(ping){
                console.log("ipv6 ping:" + ping);
                if(ping < 1600) {
                    that.this_domain = test_domain;
                }
            }
        });
    },

  },
  mounted() {
    document.getElementById('inputText').focus();
    this.testsearch();
    // this.changeimg();
    this.this_domain = location.origin;
    // this.testipv6('https://ywzss.buaamc2.net');
    console.log(this.this_domain);
  }
}

Vue.createApp(App1).mount('#app1')
</script>

</body>

<br><br><br>
<p><a href="https://space.bilibili.com/250616280?spm_id_from=333.999.0.0">Contact [摸鱼大鸽] on Bilibili.com</a> <br>
    </p>

</html>