<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="refresh" content="0;url=https://ywzss.buaamc2.net/"> -->
<title>摸鱼大鸽-手机服务器入口</title>
<script src="./index_dep/vue.global.js"></script>
<script src="./index_dep/jquery-3.2.1.js"></script>
<script language="javascript" src="./index_dep/ping.js"></script>
<style>
    #search ul {
        list-style-type: none;
        display: block;
        width: 70px;
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0px;
        float: left;
    }
    #search li {
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    #search form {
        margin: 0px;
        padding: 0px;
    }
    #search input {
        height: 30px;
        width: 400px;
        margin: 0px;
    }
    #search .button {
        font-size: 17px;
        font-weight: 600;
        color: #002D96;
        height: 30px;
        width: 110px;
        margin-left: 50px;
        background: #e6efc2;
        opacity: 0.8;
        border: #7fb80e 1px solid;
        cursor: pointer;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
</style>
</head>

<body style="background-attachment: fixed;text-align: center;color:whitesmoke; background-image:url('./index_dep/bg.jpg'); background-repeat:no-repeat; background-size: cover;">

    <div id="app1">
        <!-- <span v-if="seen">现在你看到我了</span> -->
        <h2>自动切换搜索引擎-谷歌/百度/必应</h2>
        <div id="search" align="center">
            <table>
                <tr>
                    <td>
                        <select v-model="selected" @change="changeimg()">
                            <option value="baidu">Baidu</option>
                            <option value="google">Google</option>
                            <option value="bing">Bing</option>
                            </select>
                    </td>
                    <td id="from_box" style="padding-left:10px;">
                        <input id="inputText" v-model="search_context" type="text"  autocomplete="off" @keyup.enter="this.search()"/>
                    </td>
                    <td>
                        <p @click="search">点<img :src=imgsrc width="80">我</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <table style="text-align:center; margin:auto;">
        <tr>
            <td>
                <h1 >华为手机搭建服务器[arm64架构]</h1>
                <table align="center" width="50%"><tr>
                <td><a href="https://ywz3.buaamc2.net:8920/"><img src="./index_dep/1.png" width="300px"   border=0 /></a></td>
                <td><a href="https://ywz3.buaamc2.net:9010/upload/templates/First.html"><img src="./index_dep/2.png" width="220px"   border=0 /></a></td>
                </tr><tr>
                <td><a href="https://ywz3.buaamc2.net:9011/"><img src="./index_dep/6.png" width="300px"   border=0 /></a></td>
                <td><a href="https://ywz3.buaamc2.net:9010/files/ywz/"><img src="./index_dep/5.png" width="220px"   border=0 /></a></td>
                </tr>
                </table> 
                <br><br><br>
                <p>Powered by Mate10pro(on sale ￥400)<br>
                    with Global IPV6, HarmonyOS 2.0, All HTTPS</p>
            </td>
            

            <td>
                <div style="border: 1px solid; height: 500px;"></div>
            </td>

            <td>
                <h1 >三星上网本搭建服务器[x86架构]</h1>
                <table align="center" width="50%"><tr>
                <td><a href="https://ywzss.buaamc2.net:8920/"><img src="./index_dep/1.png" width="300px"   border=0 /></a></td>
                <td><a href="https://ywzss.buaamc2.net/upload/templates/First.html"><img src="./index_dep/2.png" width="220px"   border=0 /></a></td>
                </tr><tr>
                <td><a href="http://ywzss.buaamc2.net:11000/"><img src="./index_dep/nextcloud.png" width="300px"   border=0 /></a></td>
                <td><a href="https://ywzss.buaamc2.net/files/"><img src="./index_dep/5.png" width="220px"   border=0 /></a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="http://ywzss.buaamc2.net:8384"><img src="./index_dep/syncthing.png" height="50px"   border=0 /></a>
                    </td>
                </tr>
                <br>
                </table> 
                <p>Powered by SamSung-N147 Notebook(on sale ￥200) <br>
                    with Global IPV6, Debian 11, Docker, HTTPS</p>
            </td>

        </tr>


    </table>

<br>

<script>
const App1 = {
  data() {
    return {
    //   seen: true
        selected: "google",
        search_engines: {
            "baidu": ["./index_dep/baidu.png", "http://www.baidu.com/s?ie=UTF-8&wd="],
            "google": ["./index_dep/google.png", "https://www.google.com/search?q="],
            "bing": ["./index_dep/bing.svg", "https://www.bing.com/search?q="]
        },
        imgsrc: "./index_dep/R-C.gif",
        search_context: "",
    }
  },
  methods: {
    changeimg:function(e){
        this.imgsrc = this.search_engines[this.selected][0];
    },
    search:function(e){
        window.location.href = this.search_engines[this.selected][1] + this.search_context;
    },

    testsearch:function(e){
        that = this;
        temp_selected = that.selected;
        $.ping({
            url : 'https://www.' + temp_selected + '.com', 
            beforePing : function(){},
            afterPing : function(ping){
                console.log(temp_selected + ":" + ping);
                if(ping >= 1600) {
                    that.selected = "baidu";
                }
                that.changeimg();
            }
        });
    }

  },
  mounted() {
    document.getElementById('inputText').focus();
    this.testsearch();
    // this.changeimg();
  }
}

Vue.createApp(App1).mount('#app1')
</script>

</body>

<br><br><br>
<p><a href="https://space.bilibili.com/250616280?spm_id_from=333.999.0.0">Contact [摸鱼大鸽] on Bilibili.com</a> <br>
    </p>

</html>